body{
    background-color: rgb(248, 192, 88);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5em;
}

.fondoBlanco{
    background-color: white;
}

.fondoAmarillo{
    background-color: orange;
}

.imagen{
    width: 150px;
}

.texto1{
    text-align: center;
    font-size: 3em;
    color: orange;
}

.texto2{
    font-size: 16px;
    color: white;
    background-color: rgb(168, 108, 242);
    text-align: justify;
}

.separacion{
    padding: 1em;
}

.texto3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.borde{
    border: 10px solid white;
    border-radius: 10px;
}

.centrado{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.bordeNaranja{
    border-radius: 10px;
    border: orange 2px solid;
}

.bordeMorado{
    border-radius: 10px;
    border: rgb(168, 108, 242) 2px solid;
}

li{
    margin-top: 15px;
}