.body1{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
align-items: center;
}

.body2{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(174,233,148,1) 100%);
}

h1{
    text-align: center;
    border: 1px solid white;
}

p{
    text-align: center;
}

h3{
    text-align: center;
    color: black;
}

ul{
    text-align: center;
}

div{
    text-align: center;
}

h2{
    text-align: center;
    color: black;
}

